@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*, html,body{
    margin: 0;
    padding: 0;
}

.cover{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.phone{
    /* background-color: #e9e3e3; */
    color: white;
    background: linear-gradient( #d2d2db, #3F497F);
    height: 560px;
    width: 300px;
    border-radius: 30px;
    -webkit-box-shadow : 0px 57px 72px -30px rgba(81, 108, 95, 0.46);
    box-shadow : 0px 57px 72px -30px rgba(81, 108, 95, 0.46);
    overflow: hidden;
}
.phone .plane{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("cool_plane.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* display: none; */
}
.phone .seats{
    position: relative;
    width: 300px;
    height: 250px;
    margin-top: -400px;
    /* border: 1px solid red; */
    /* background: linear-gradient(0.25turn, #a8b3b8, #ebf8e1, #f1f1f1); */
    padding: 10px;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}
.phone .seats div {
    border: 2px solid #3F497F;
    padding: 3px;
    height: 30px;
    border-radius: 5px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.phone .seats div img{
    height: 25px;
    width: 25px;
}
.phone .seats div.icons.fly{
    animation : flow 1s ease-in infinite;
}
@keyframes flow {
    0%{
    border: 2px solid #3F497F;
    }40%{
        border: 2px solid orangered;
    }100%{
        border: 2px solid #3F497F;
    }
}
.cover .phone .verify{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-top: -200px;
    background-color: #191825;
    margin-left: -60px;
    z-index: 10;
    -webkit-box-shadow : 0px 57px 72px -30px rgba(81, 108, 95, 0.46);
    box-shadow : 0px 57px 72px -30px rgba(81, 108, 95, 0.46);
    opacity: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    border-radius: 20px;
}
.cover .phone .verify .image{
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    border: 3px solid green;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* margin-right: 20px; */
}
.cover .phone .verify .info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-left: 20px; */
    
    font-family: Roboto;
}
.cover .phone .verify .info label{
    color: rgba(255, 255, 255, 0.425);
}
.cover .phone .verify .info .span{
    text-transform: uppercase;
    font-size: xx-large;
}
.cover .phone .verify .info .log{
    height: 30px;
}
.cover .phone .verify .info .log img{
    height: 100%;
    margin-right: 5px;
}

.cover .phone .verify .oba{
    position: absolute;
    margin-bottom: -40px;
    margin-left: 120px;
    height: 30px;
    width: 50px;
}

.cover .phone .verify .oba img{
    height: 100%;
    width: 100%;
}
.cover .phone .checkout{
    position: relative;
    width: 280px;
    height: 400px;
    margin-left: 10px;
    border: 1px solid red;
    z-index: 15;
    margin-top: -350px;
}
.cover .phone .checkout .head{
    width: 90%;
    padding: 20px 15px;
    background: rgba(252, 252, 252, 0.171);
    color: rgba(0, 0, 0, 0.534);
    font-family: Roboto;
    font-weight: bold;
    border: 1px solid black;
}
.cover .phone .checkout .flight{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #fff;
}
.cover .phone .checkout .flight span{
    display: flex;
    flex-direction: column;
}
.main{
    transform: rotateZ('90deg');
}